version: '3.8'

services:
  ganache:
    image: trufflesuite/ganache:latest
    command: --server.port 7545 --chain.networkId 5777 --wallet.defaultBalance 1000
    ports:
      - "7545:7545"  # Map Ganache port to host (browser/JS can connect to http://127.0.0.1:7545)

  app:
    build: .  # Builds from the Dockerfile in the current directory
    depends_on:
      - ganache  # Waits for Ganache to start before running migrations
    ports:
      - "8080:8080"  # Map app server to host (access http://localhost:8080/index.html)
